{% load i18n unfold %}
{% comment %}
Prevzato z admin/nav_sidebar.html (Unfold) - napevno w-[288px] nahrazeno
dynamickym x-bind:style navazanym na sidebarWidth (viz unfold/layouts/
skeleton.html) + pridano tazitko na pravem okraji pro zmenu sirky
tazenim (stejny vzor jako demo.unfoldadmin.com). Viz konverzace
s Danielem 2026-08-18.

DULEZITE: tazitko pouziva vlastni tridy (rx-resize-*, core/static/
core/css/sidebar_extras.css), NE Tailwind "cursor-col-resize"/
"w-[7px]"/"right-[-3px]" primo - Unfoldovo predkompilovane styles.css
tyhle konkretni tridy neobsahuje (nikdy je nepouziva ve svych vlastnich
sablonach), takze by nemely zadny vizualni efekt. Poprve to presne
takhle i spadlo - tazitko se vubec neobjevilo.
{% endcomment %}

<div class="relative z-50">
    <div class="fixed hidden xl:relative xl:block {% element_classes 'navigation_wrapper' %}" x-bind:class="{'xl:hidden!': !sidebarDesktopOpen, 'block!': sidebarMobileOpen}" x-bind:style="`width: ${sidebarWidth}px`">
        <div class="bg-base-50 relative z-30 dark:bg-base-900">
            <div id="nav-sidebar" class="bg-base-50 border-r border-base-200 bottom-0 fixed max-h-screen top-0 dark:border-base-800 dark:bg-base-900 {% element_classes 'navigation' %}" x-bind:style="`width: ${sidebarWidth}px`">
                {% if templates.navigation %}
                    {% include templates.navigation %}
                {% else %}
                    {% include "unfold/helpers/navigation.html" %}
                {% endif %}

                <div class="rx-resize-handle" x-on:mousedown="sidebarResizing = true">
                    <div class="rx-resize-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
